body {
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: #f5f7fa;
  padding: 40px;
  font-size: 14px;
  line-height: 1.71;
}

button {
  font: inherit;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
